#!/usr/bin/env zsh

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

function status() {
  if [ -z ${1} ]; then
    echo "You forgot the url dude..."
    exit 1
  fi
  curl -s -o /dev/null -w "%{http_code}" ${1} | sed s/%//g
}

# Determine size of a file or total size of a directory
function fs() {
	if du -b /dev/null > /dev/null 2>&1; then
		local arg=-sbh;
	else
		local arg=-sh;
	fi
	if [[ -n "$@" ]]; then
		du $arg -- "$@";
	else
		du $arg .[^.]* ./*;
	fi;
}

# Function to spoof Mac address before joining new, untrusted networks
# Will be reset to default by OSX after reboot
function spoof-mac-address() {
  sudo ifconfig en0 ether "$(openssl rand -hex 6 | sed 's%\(..\)%\1:%g; s%.$%%')"
}

# Select a specific toolbox in ~/.bin
function toolbox() {
  local toolbox="${1}"
  if [[ -d "$HOME/.bin/$toolbox" ]]; then
    export ACTIVE_TOOLBOX=${toolbox}
    export PATH="$PATH:$HOME/.bin/$toolbox"
  fi
}
