[user]
  name = Matthias Splieth
  email = matthias@splieth.com

[includeIf "gitdir:~/Projects/customers/"]
  path = .gitconfig-work
[includeIf "gitdir:~/Projects/betaset/"]
  path = .gitconfig-work

[color]
  branch = auto
  diff = auto
  status = auto

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[push]
  default = upstream

[pull]
  default = current
  rebase = true

[diff]
  memonicprefix = true

[alias]
  lol = !git commit -m \"$(curl -s whatthecommit.com/index.txt)\"
  yolo = !git commit -am \"DEAL WITH IT\" && git push -f origin master
  undo = reset HEAD~1 --mixed

[core]
  excludesfile = ~/.gitignore

[credential]
  UseHttpPath = true

[gpg]
  program = gpg

[init]
  defaultBranch = main
